@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 32 66% 100%;
    --foreground: 32 77% 3%;
    --muted: 32 26% 87%;
    --muted-foreground: 32 0% 34%;
    --popover: 0 0% 99%;
    --popover-foreground: 32 77% 2%;
    --card: 0 0% 99%;
    --card-foreground: 32 77% 2%;
    --border: 32 5% 90%;
    --input: 32 5% 90%;
    --primary: 32 59% 51%;
    --primary-foreground: 0 0% 0%;
    --secondary: 32 13% 90%;
    --secondary-foreground: 32 13% 30%;
    --accent: 32 13% 90%;
    --accent-foreground: 32 13% 30%;
    --destructive: 1 70% 40%;
    --destructive-foreground: 0 0% 100%;
    --ring: 32 59% 51%;
    --chart-1: 32 59% 51%;
    --chart-2: 32 13% 90%;
    --chart-3: 32 13% 90%;
    --chart-4: 32 13% 93%;
    --chart-5: 32 62% 51%;
    --radius: 0.5rem;
    --brown: 23 27.3% 30.4%;
  }

  .dark {
    --background: 32 44% 2%;
    --foreground: 32 36% 97%;
    --muted: 32 26% 13%;
    --muted-foreground: 32 0% 66%;
    --popover: 32 44% 3%;
    --popover-foreground: 32 36% 98%;
    --card: 32 44% 3%;
    --card-foreground: 32 36% 98%;
    --border: 32 5% 15%;
    --input: 32 5% 15%;
    --primary: 32 59% 51%;
    --primary-foreground: 0 0% 0%;
    --secondary: 32 20% 10%;
    --secondary-foreground: 32 20% 70%;
    --accent: 32 20% 10%;
    --accent-foreground: 32 20% 70%;
    --destructive: 11 89% 59%;
    --destructive-foreground: 0 0% 0%;
    --ring: 32 59% 51%;
    --chart-1: 32 59% 51%;
    --chart-2: 32 20% 10%;
    --chart-3: 32 20% 10%;
    --chart-4: 32 20% 13%;
    --chart-5: 32 62% 51%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
